@model BoardGameNight.Models.Eten

@{
    ViewData["Title"] = "Create Eten";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create">
    <label for="Naam">Naam</label>
    <input asp-for="Naam" type="text">

    <label for="IsVegetarisch">Is Vegetarisch</label>
    <input asp-for="IsVegetarisch" type="checkbox">

    <label for="IsLactosevrij">Is Lactosevrij</label>
    <input asp-for="IsLactosevrij" type="checkbox">

    <label for="IsNotenvrij">Is Notenvrij</label>
    <input asp-for="IsNotenvrij" type="checkbox">

    <label for="IsAlcoholvrij">Is Alcoholvrij</label>
    <input asp-for="IsAlcoholvrij" type="checkbox">

    <button type="submit">Create</button>
</form>