@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="text-danger">
        @foreach (var error in ViewData.ModelState.SelectMany(m => m.Value.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}

@if (Model?.ShowRequestId == true)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
