@{
    ViewData["Title"] = "Home Page";
}

<h1>Welkom bij de bordspellenavonden app!</h1>

<p>Organiseer hier uw eigen bordspellenavonden en meld u aan als deelnemer.</p>

<div class="mt-4">
    <a class="btn btn-primary btn-lg" asp-controller="bordspel" asp-action="Index">Bordspellen</a>
</div>
<div class="mt-4">
    <a class="btn btn-primary btn-lg" asp-controller="bordspellenavond" asp-action="Index">Bordspellenavonden</a>
</div>
<div class="mt-4">
    <a class="btn btn-primary btn-lg" asp-controller="Bordspellenavond" asp-action="MyBordspellenavonden">Mijn bordspellenavonden</a>
</div>
<div class="mt-4">
    <a class="btn btn-primary btn-lg" asp-controller="Bordspellenavond" asp-action="Ingeschreven">Mijn ingeschreven bordspellenavonden</a>