@model BoardGameNight.Models.Bordspellenavond

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bordspellenavond</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Adres" class="control-label"></label>
                <input asp-for="Adres" class="form-control" />
                <span asp-validation-for="Adres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxAantalSpelers" class="control-label"></label>
                <input asp-for="MaxAantalSpelers" class="form-control" />
                <span asp-validation-for="MaxAantalSpelers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumTijd" class="control-label"></label>
                <input asp-for="DatumTijd" class="form-control" />
                <span asp-validation-for="DatumTijd" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Is18Plus" /> @Html.DisplayNameFor(model => model.Is18Plus)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="OrganisatorId" class="control-label"></label>
                <select asp-for="OrganisatorId" class ="form-control" asp-items="ViewBag.OrganisatorId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

