@model BoardGameNight.Models.Bordspellenavond

@{
    ViewData["Title"] = "Bordspellenavond Details";
}

<h1>@ViewData["Title"]</h1>


<h2>Datum: @Model.DatumTijd</h2>
<p>Locatie: @Model.Adres</p>
<p>Max aantal spelers: @Model.MaxAantalSpelers</p>